page-error {
     .no-scroll .scroll-content{
     overflow: hidden;
}
    ion-content{
        text-align: center;
      
            }

    .icon-center{
        font-size:50px;
    }


    ion-grid {
    height: 100%;
    justify-content: center;
    color:#fff;
    text-align: center;
    align-content: center;
    align-items: center;
}
    img{
        
    }
}
