<ion-content class="no-scroll" style="background-color: #363636;overflow: hidden;">




  <ion-grid>
    <ion-row>
      <ion-col text-center>
       <ion-icon class="icon-center" name="alert"></ion-icon>
    <br />
    <br />
   <b>{{passedData.message}}</b>

   
      </ion-col>
      
    </ion-row>



    <ion-row style="margin-top:20%">
      <!--<ion-col text-center>
        <button [@enterAnimation] ion-button style="width:100px;height:100px;border:solid 3px white;border-radius: 100%;color:#fff;display:table-cell;vertical-align:middle;">
          <div style=" flex-flow: column;">
          <ion-icon style="padding:0;margin:0;line-height:20px;" class="icon-center" name="ios-people-outline"></ion-icon>
          <strong style="width:100%;display: block;line-height: 15px;">برعاية</strong>
          </div>
          </button>
      </ion-col>-->


           <ion-col text-center>
           <button [@enterAnimation] (click)="backToHome()" ion-button style="width:100px;height:100px;border:solid 3px white;border-radius: 100%;color:#fff;display:table-cell;vertical-align:middle;">
          <div style=" flex-flow: column;">
          <ion-icon style="padding:0;margin:0;line-height:20px;" class="icon-center" name="ios-refresh-outline"></ion-icon>
          <strong style="width:100%;display: block;line-height: 15px;">رجوع</strong>
          </div>
          </button>
          
      </ion-col>

    

    </ion-row>


  </ion-grid>
<!--<button style="position: absolute;bottom:20px;" ion-button full  round outline color="light" (click)="backToHome()">
      <b>حاول مرة اخري</b>
      </button>-->
      
</ion-content>


