page-notification {

ion-content{
    text-align: center;
}
    ion-card{
        text-align: center;
       // border-left: 8px solid red;
        
    }

    ion-spinner * {
    width: 45px;
    height: 45px;
    stroke: #444;
    fill: #222;
    } 
    .border-left{
        border-left: 8px solid blue;
    }
}
