<ion-header>
  <ion-navbar color="primary">
    <ion-title>اخر الاخبار</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-spinner *ngIf="isLoading" style="margin-top:20px;height: 100%;"></ion-spinner>
<p *ngIf="!isLoading&&!notifications.length"> <b>لا توجد اخبار حاليا </b> </p>
 <ion-card *ngFor="let m of notifications" style="margin-top: 10px;margin-bottom: 20px;border-bottom:1px solid #363636">
  <ion-card-header>
    <b>  {{m.title}} </b>
  </ion-card-header>
  <ion-card-content>
    {{m.description}}
  </ion-card-content>

  <ion-chip dir="ltr" color="secondary" *ngIf="m.event_id&&!m.user_id" style="float:left;margin-left:5px;margin-bottom:5px;">
    <ion-icon name="pin"></ion-icon>
  <ion-label><b> {{m.event.title}}</b> </ion-label>
  </ion-chip>

 <ion-chip color="forall" *ngIf="!m.event_id&&!m.user_id" style="float:left;margin-left:5px;margin-bottom:5px;">
  <ion-label style="padding:0 5px"> <b> عـام </b></ion-label>
  </ion-chip>

 <ion-chip color="danger" *ngIf="!m.event_id&&m.user_id" style="float:left;margin-left:5px;margin-bottom:5px;">
  <ion-label style="padding:0 5px"> <b> لـك </b></ion-label>
  </ion-chip>

</ion-card>
 
</ion-content>

