page-start {
    .no-scroll .scroll-content{
     overflow-y: hidden;
}
    ion-content{
        text-align: center;
        padding-top: 15px;
        flex:1;
        justify-content: center;
        font-family: 'Cairo';
            }

    .icon-center{

        font-size:50px;

    }
    .sponsor-holder{
        text-align: center;
        width:100%;
        position: absolute;
        top:2px;
        z-index: 1000;
        padding:0;
        margin:0;
        
        line-height: 20px;
        font-size:8px;
        font-weight: 1000px;
        
    }

    .sponsor-holder-text{
        padding:0 5px;
        position: relative;
        background-color: rgba(38,12,12,0.5);
        border-radius: 10%;
        z-index: 1001;
    }

    .desc{
        text-align: right;
        padding:5px 20px;
    }
    hr{
        margin:5px 15%;
    }
    img{
        
    }
    ion-spinner svg *  {
  width: 100px;
  height: 100px;
    stroke: #fff !important;
    fill: #fff;
  
  
}

    ion-spinner svg  {
  width: 100px;
  height: 100px;
  
}

    ion-spinner   {
  width: 100px;
  height: 100px;
  
}

.golden-sponsor{
    border:4px solid sandybrown;
}

     ion-grid {
    height: 100%;
    width:100%;
    justify-content: center;
    color:#fff;
    text-align: center;
    align-content: center;
    align-items: center;
}

.contain{
    text-align: center;
    height: 100%;
    width:100%;
    flex:1;
        padding-top: 15px;
        
        justify-content: center;
}
}

ion-scroll[scrollX] {
    white-space: nowrap;
    height: 180px;
    margin-top:20px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
      margin:0 20px;
    }
}

ion-scroll[scrollX]::-webkit-scrollbar {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
}
 
ion-scroll[scrollX]::-webkit-scrollbar-track {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
}
 
ion-scroll[scrollX]::-webkit-scrollbar-thumb {
  border:none;
  width:0;
  background: rgba(0,0,0,0);
}