<ion-content class="no-scroll" style="background-color: #363636;overflow-y: hidden;">

     <ion-grid>
   

    <ion-row >
      <ion-col *ngIf="!isLoading" text-center>
        <button (click)="_handleStart()" ion-button style="width:100px;height:100px;border:solid 3px white;border-radius: 100%;color:#fff;display:table-cell;vertical-align:middle;">
          <div style=" flex-flow: column;">
            <strong style="width:100px;line-height: 15px;font-size:25px">ابدأ</strong>
          </div>
          </button>     

         
      </ion-col>


<ion-col [@enterAnimationFade] *ngIf="isLoading">

    <ion-spinner ></ion-spinner>
      
            <br /> 
            <b>جاري البحث عن احداث قريبة</b>
</ion-col>
</ion-row>

<ion-row [@enterAnimationToTop] *ngIf="introData">
        <ion-col   text-center>
            <br />
المعرض القادم
<br/>
<strong style="font-size:30px;">{{introData.title}}</strong>
        </ion-col>
    </ion-row>
    

    <ion-row [@enterAnimationToTop] *ngIf="introData&&introData.sponsors&&introData.sponsors.length!=0">
<ion-col >

        <!--<ion-col *ngIf="!isLoading" text-center>
        </ion-col>


        <ion-col *ngIf="isLoading" text-center>
            <ion-spinner ></ion-spinner>
            <br />
            <br /> جاري البحث عن احداث قريبة
        </ion-col>-->
    
<br />
    برعاية
<ion-scroll scrollX="true" [style.width]="width+'px'">
    <div *ngFor="let x of introData.sponsors" class="scroll-item" style="position: relative;">
        <div class="sponsor-holder"> <strong class="sponsor-holder-text">{{x.type}} </strong></div>
      <div class="image-cropper">
        <img  [src]="x.imgUrl" style="height:120px;border-radius:5%;background-color:#fff" [ngClass]="{'golden-sponsor':false}"/>
      </div>
      <span class="text"><b>{{x.name}}</b></span>
    </div>
						</ion-scroll>
</ion-col>
    </ion-row>
</ion-grid>

</ion-content>


