<ion-header>
  <ion-navbar [color]="(!data.emergency)?'primary':'danger'">
   
    <ion-title>{{data.title}}</ion-title>
    <ion-buttons end>
                <button ion-button icon-only (click)="closeModal()">
                    <ion-icon item-right name="ios-close-outline"></ion-icon>
                </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="data.capacity||data.openState||data.emergency">
  <h4 *ngIf="data.capacity">
    السعة الان: {{data.capacity}}
    </h4>

     <h4 *ngIf="data.openState==1">
    البوابة مفتوحة الان
    </h4>

    <h4 style="color:#f53d3d" *ngIf="data.openState==0">
    البوابة مغلقة الان
    </h4>


 <h4 style="color:#f53d3d" color="danger" *ngIf="data.emergency">
طوارئ
    </h4>
    <br />
</div>
<div *ngIf="data.desc">
   
 <h3 style="text-align:right">الوصف</h3>
 <hr />
 <p class="desc">
   {{data.desc}}
 </p>
 <br />
</div>


 <div *ngIf="data.indoor&&data.indoor.length!=0">
    
     <h3 style="text-align:right">من بالقاعة</h3>
 <hr />

  <ion-item *ngFor="let m of data.indoor">{{m}}</ion-item>

</div>

</ion-content>
<ion-footer *ngIf="data.openState" style="padding:0 10px;border:0">
  

  <button ion-button [color]="(!data.emergency)?'primary':'danger'" full (click)="launchNavigator()">اذهب الان</button>
   
</ion-footer>