page-help {

    ion-content{
        text-align: center;
    }
    .phoneContainer{
        font-size: 20px;
        padding:10px;
        font-weight: 100px;
        letter-spacing: 2px;
    }

       ion-grid {
    height: 100%;
    justify-content: center;
 
    text-align: center;
    align-content: center;
}


}
