<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>مساعدة</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  


    <ion-grid>
    <ion-row>
      <ion-col *ngIf="jsonDone" text-center>
     

     <h4>لطلب المساعدة يمكنك التواصل معنا عبر الهاتف او البريد الالكتروني</h4>

 <div class="phoneContainer" dir="ltr" *ngFor="let m of event.helpNumber">
      <ion-icon name="call" style="padding-right:14px;"></ion-icon>
      {{m.title}}
   <a href="tel:{{m.number}}"><strong>
     {{m.number}}
     </strong>
     </a>
 </div>

  <div class="phoneContainer" dir="ltr">
      <ion-icon name="mail" style="padding-right:14px;"></ion-icon>
   <a href="mailto:{{event.helpEmail}}"><strong>
     {{event.helpEmail}}
     </strong>
     </a>
 </div>

 
      </ion-col>
    </ion-row>
  </ion-grid>



 
</ion-content>
