<ion-header>
  <ion-navbar color="primary">
   
    <ion-title>تعليمات</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 <ion-icon class="icon-center" name="pin"></ion-icon>
 <h2>{{event.title}}</h2>
 <hr />
 <p class="desc">
   {{event.description}}
 </p>
 <br />
  <h4>تعليمات المعرض</h4>
 <iframe width="100%" height="400" [src]="videoUrl" frameborder="0" allowfullscreen>
</iframe>

<br />
  <h4>الخرائط الداخلية</h4>
  
<div style="text-align:center;width:100%" >
   <button (click)="viewImage()" ion-button round>
     <ion-icon  name="map"></ion-icon>
   </button>
 </div>
 <br />
</ion-content>
