page-home {
font-family: Cairo-Regular !important;
 .no-scroll .scroll-content{
     overflow: hidden;
}

  #map {
        height: 100%;
          
    }
ion-spinner svg * {

    stroke: #fff !important;
    fill: #fff;
}
}
