<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{response.event.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll" style="overflow: hidden;">





   <div id="map">

  <ion-fab bottom right padding (click)="_goToMyLocation()">
    <button ion-fab> 
       <ion-icon *ngIf="!loadingMyPosition" name="locate" ></ion-icon>
       <ion-spinner *ngIf="loadingMyPosition"></ion-spinner>
       </button>
  </ion-fab>

   </div>

  
</ion-content>
