page-form {

ion-content{
    color:#fff;
    text-align: center;
}
h2{
    color:#fff;
    
}
// .list ion-item{
//     background-color: #363636;
// }
.no-border{
    border:0;
}
.errMsg{
    color:red;
    text-align:right;
    padding-right:20px;
    font-size:15px;
}
    ion-spinner svg *  {
 
    stroke: #fff !important;
    fill: #fff;
  
  
}
}
