<ion-content style="background-color: #363636;">


<h2> استمارة تسجيل البيانات</h2>

  <!--<ion-grid>

    <ion-row>
      <ion-col text-center>
      
      </ion-col>
      
       </ion-row>
    

  </ion-grid>-->

  <ion-content padding >
  <form [formGroup]="introForm" (ngSubmit)="!isLoading&&formSubmit()" class="list">
    <ion-item>
      <ion-label floating>الاسم بالكامل</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
      
    </ion-item>
    <p  class="errMsg" *ngIf="introForm.controls.name._touched&&introForm.controls.name._errors&&introForm.controls.name._errors.required">الاسم مطلوب</p>
    <ion-item>
      <ion-label floating>البريد الالكتروني</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <p  class="errMsg" *ngIf="introForm.controls.email._touched&&introForm.controls.email._errors&&introForm.controls.email._errors.required">البريد الالكتروني مطلوب</p>
    <p  class="errMsg" *ngIf="introForm.controls.email._touched&&introForm.controls.email._errors&&!introForm.controls.email._errors.required&&introForm.controls.email._errors.email">البريد الاكتروني غير صحيح</p>

     <ion-item>
      <ion-label floating>رقم الهاتف</ion-label>
      <ion-input type="number" formControlName="phone"></ion-input>
    </ion-item>
    <p  class="errMsg" *ngIf="introForm.controls.phone._touched&&introForm.controls.phone._errors&&introForm.controls.phone._errors.required">رقم الهاتف مطلوب</p>

     <ion-item>
      <ion-label floating>العنوان</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>

    
    <p  class="errMsg" *ngIf="introForm.controls.address._touched&&introForm.controls.address._errors&&introForm.controls.address._errors.required">العنوان مطلوب</p>

    <ion-item>
      <ion-label floating>رقم السيارة (ان وجد)</ion-label>
      <ion-input type="text" formControlName="car"></ion-input>
    </ion-item>


    <ion-list radio-group formControlName="gender" >

 

<ion-row>
  <ion-col></ion-col>
      <ion-col>
     
    <ion-label ><strong>ذكر</strong></ion-label>
    <ion-radio mode="ios" checked value="ذكر"></ion-radio>
    
 </ion-col>
  <ion-col>

    <ion-label><strong>انثي</strong></ion-label>
    <ion-radio mode="ios" value="انثي"></ion-radio>

 </ion-col>
  <ion-col></ion-col>
</ion-row>
</ion-list>



    <button [disabled]="!introForm.valid" type="submit" ion-button full>
      <strong *ngIf="!isLoading">تسجيل</strong>
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      </button>
  </form>
</ion-content>

</ion-content>


