<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NESTC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="border:0">
 
 <img src="assets/img/logo.png"  alt="" width="100" height="100"/>
 <hr />
 <p class="desc">
   {{who.details}}
 </p>
</ion-content>

<ion-footer style="padding:0 10px;border:0">
  

  <a [href]="who.fbLink" target="_blank" ion-button  full>FACEBOOK</a>
   
</ion-footer>

