page-who {
    ion-content{
        text-align: center;
        margin-top: 15px;
            }

    .icon-center{
        font-size:50px;
    }
    .desc{
        text-align: right;
        padding:5px 20px;
    }
    hr{
        margin:5px 15%;
    }
    img{
        
    }
}
