<ion-menu [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()" id="menu1">
  

  <ion-content style="background-color: #363636">

    <div style="background-color:#fff;height:200px;padding-top:50px;text-align: center">

       <div style="position: relative;"> 
         <img *ngIf="data.event" [src]="data.event.imgUrl" style="border-radius: 100%;"  alt="" width="120" height="120"/>
         <img [@menuIntro]="logoAnimationState" src="assets/img/logo3.png" style="position:relative;margin-right:-125px;border-radius: 100%;z-index:10;width:120px;height:120px" />
        </div> 
    </div>
    
    <ion-list style="text-align: center" >

   <button style="margin-top:20px;margin-bottom:20px;" (click)="movMapToEvent()" ion-button menuClose round outline color="light">
     
      <ion-icon name="pin" style="padding:5px;"></ion-icon>
      <b *ngIf="data.event">
      {{data.event.title}}
            </b>
     </button>

      <button style="text-align: center;" *ngFor="let p of pages" color="primary" menuClose ion-item  (click)="openPage(p)">{{p.title}}</button>

      
     
     <button style="margin-top:20px;"  ion-button icon-start color="danger" (click)="navUserInfo()">
      <strong>{{userCode}}</strong>
     
      
</button>

    </ion-list>
    <p style="position:absolute;bottom:5px;left:10px;color:#fff">{{currentInv}}</p>     
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>